# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\liangliang2\code\code-auto-generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
